/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #f4f4f4;
    padding: 5rem 0;
    text-align: center;
}

.hero h1 {
    margin: 0;
}

section {
    padding: 2rem;
}

h2 {
    text-align: center;
    color: #333;
}

.project-item img {
    max-width: 100%; /* Makes sure the image fits the container */
    height: auto;    /* Keeps the aspect ratio */
    border-radius: 10px; /* Adds rounded corners */
    margin-top: 10px;
}


/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
}
